.header {
    margin: 0 auto;
    padding-top: 28px;
    min-height: 55px;
    max-width: 320px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
  
  @media screen and (min-width: 768px) {
    .header {
      margin: 0 auto;
      padding-top: 45px;
      min-height: 73px;
      max-width: 581px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .header {
      max-width: 880px;
    }
  }